{%extends 'parent.html'%}
{%block title%}
    Book-Info
{%endblock%}
{%block content%}
   <table>
       <tr>
           <td colspan="3">
               Name:{{book.name}}
               </br>
               Publish Date:{{book.publish_date}}
               </br>
               Modified Date:{{book.update_date}}
               </br>
               catagory:{{book.catagory.name}}
           </td>
           <td colspan="1">
               <img src="/media/{{book.image}}" width="70%">
           </td>
       </tr>

   </table>
{%endblock%}