{%extends 'parent.html'%}
{%block title%}
    Book-List
{%endblock%}
{%block content%}
    <h1>Books</h1>
    <table border="1px solid" width="100%" height="100%">
        <tr>
            <th>Name</th>
            <th>Publish Date</th>
            <th>Catagory</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        {%for book in books%}
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.publish_date}}</td>
                <td>
                    <img src="/media/{{book.image}}" width="50" height="50%"></td>
                <td>{{book.catagory.name}}</td>
                <td>
                    <a href="{%url 'Bupdate' book.id%}">Update function based</a>
                    <a href="{%url 'Bupdateform' book.id%}">update function based &form</a>
                    <a href="{%url 'Bupdateformmodel' book.id%}">update function based & model form</a>
                    <a href="{%url 'Bupdatec' book.id%}">update class based</a>
                    <a href="{%url 'Bdelete' book.id%}">Delete function based</a>
                    <a href="{%url 'Bdeletec' book.id%}">Delete class based</a>
                    <a href="{%url 'Bshow' book.id%}">Details</a>

                </td>
            </tr>
        {%endfor%}
    </table>
{%endblock%}