{% load static %}
<html>
    <head>
        <title>
            {%block title%}
                Parent Page
            {%endblock%}
        </title>
        <!--css-->
        <link href="{% static '/css/style.css'%}" rel="stylesheet">

        <!--js-->
        <script src="{%static 'js/script.js'%}">

        </script>

    </head>
    <body>
    <table>
        <tr>
            <td colspan="10">

                <img src="{%static 'imgs/img.jpg'%}">

            </td>
        </tr>
        <tr>
            <td colspan="10">

                <h1>Menu</h1>

            </td>
        </tr>
        <tr>
            <td colspan="10">


                {%block content%}
                <h1>content</h1>
                {%endblock%}

            </td>
        </tr>
        <tr>
            <td colspan="10">

                <h1>Footer</h1>

            </td>
        </tr>
    </table>

    </body>

</html>